body{
    color: var(--brand-black);
    background: url(/media/brown\ map.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    background-color: var(--brand-white);
    padding: 1em;
    justify-content: center;
    align-items: center;
    gap: var(--spacing--xs);

}
    .container--welcome {
        flex-direction: column;
        gap: 5rem;
    }

.row{
    display: flex;
    flex-direction: column;
    gap: 0.1em;
}
    label{
        padding: 1em 1em 0 1em;
        display:flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 1.1em;
    }

        input   {
            padding: 0.3em;
            font-size: 1.1em;
            font-weight: 500;
            text-align: start;
        }
        .wrong  {
            color: red;
        }
        .right  {
            color: green;
        }

    .score  {
        padding: .5em;
        margin: .5em;
        line-height: 1;
        background: red; 
        color: var(--brand-white);
        font-weight: 600;
    }

